.container {
  background: var(--section-bg);
  border-radius: 10px;

  box-shadow: 7px 0 2px 0 rgba(221, 224, 225, 0.1);


  h1 {
    font-weight: 500;
    font-size: 1.2em;
    padding: 1rem 1.4rem;
  }

  .table {
    margin-top: 1rem;

    > div {
      display: grid;
      grid-template-columns: 0.8fr 1fr 0.7fr 0.5fr 0.7fr 1fr 0.2fr;
      align-items: center;

      margin: 0.5rem 0;
      margin-top: 0;
      padding: 1.2rem 1.4rem;
      padding-bottom: 0.6rem;

      > div:first-child {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      > div:last-child {
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
          cursor: pointer;
        }
      }

      color: rgba(0, 0, 0, 0.8);
      border-top: 2px solid rgba(0, 0, 0, 0.1);
    }
  }

  .header {
    background: rgba(0, 0, 0, 0.05);
    padding: 1rem 1.4rem !important;
    margin: 0 !important;
    font-weight: 500;
    border: none !important;
  }
}
